<h1>Address Book</h1>
<p>What would you like to do?</p>

<form action="create" method="get">
  <input type="submit" name="" value="Create Contact">
</form>

<form action="view" method="get">
  <input type="submit" name="" value="View Contacts">
</form>
