<form action="home" method="get">
  <input type="submit" name="" value="Home Page">
</form>


<h1>Address Book</h1>

<form action="store" method="get">
  <input type="text" name="given_name" value="" placeholder="First Name">
  <br>
  <input type="text" name="family_name" value="" placeholder="Last Name">
  <br>
  <input type="text" name="email" value="" placeholder="Email">
  <br>
  <input type="text" name="address" value="" placeholder="Home Address">
  <br>
  <input type="submit" name="" value="Create Contact">

</form>

<form action="list" method="get">
  <input type="submit" name="" value="View Contacts">
</form>
